body{
    margin: 0px;
    padding: 0px;
   /* font-family: 'Bree Serif', serif;*/
   /* letter-spacing: 2px;*/
}



/*top bar */
.nav-wapper{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 10px 10px;
    background-color: white ;
}

.left-side{
    font-size: 30px;
    
}
.left-side > .brand a{
    text-decoration: none;
    color: black;

}


.right-side{
    display: flex;
}

.nav-wapper > .right-side >div{
    margin-right: 15px;
    font-size: 0.9em;
    /*text-transform: uppercase;*/
}

.nav-link-wapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.1s;  
}

.nav-link-wapper a{
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wapper :hover{
        border-bottom: 1px solid black;
}

.nav-link-wapper a:hover{
    color: black;
}


/*main page*/
.items-wrapper{
    display: grid;
    grid-template-columns: 4% 70% 30%;
    padding-bottom: 0%;
    border-left: 2px solid black;
}

.item-wrapper{
    position: relative;
}

.img-background{
    height:1000px;
    width: 88%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-background1{
    height:1000px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.img-background2{
    height:1000px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-wapper{
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.text:hover {
    color: black;
    text-size-adjust: 10px;
    font-weight: 600;
}
.text{
    transition: 1s;
    font-weight: 600;
    text-size-adjust: 10px;
    color: transparent;
}

/*----------------footer----------*/

#footer{
    background-color: #340000;
    border-top: 1px solid #fffcea;
    position: relative;
    text-align: center;
}

h3 {
    font-size: 32px;
    line-height: 32px;
    color: #fffcea;
    font-weight: 400;
    margin-bottom: 10px;
}
.footer-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    color: #fffcea;
}
